@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "daisyui";


:root {
  --background: #191125;
  --foreground: #171717;
  --font-main: 'Zen Dots', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #191125;
    --foreground: #ededed;
  }
}

body {
  color: #ededed;
  background: var(--background);
  font-family: var(--font-main);
}
